{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8 mt-5 mb-5">
      <h1 class="text-center">Please Log In</h1>
      <hr>
    </div>
  </div>
  <div class="container">

    <div class="row bg-darker mt-5 rounded booking-card">
      <div class="col-md-4 offset-md-2 p-3 mb-5 mx-auto">
        <h2>{% trans "Login" %}</h2>
        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form| crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="btn btn-success" type="submit">{% trans "Log in" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>



  {% endblock %}