{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-sm-8 mt-5 mb-5">
          <h1 class="text-center">Are You Sure?</h1><hr>
      </div>
  </div>
<div class="container-fluid">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-5 mt-5 offset-md-2 bg-darker mb-5 p-3 rounded mx-auto">
      <h2>{% trans "Log Out" %}</h2>

      <p>{% trans 'Are you sure you want to log out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-danger" type="submit">{% trans 'Log Out' %}</button>
      </form><br>
      <p><em>Thank you for visiting,<br>we appreciate your custom!</em></p>
    </div>
  </div>
</div>


{% endblock %}