{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-3 offset-md-2">

            <h1>{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" name="action" value="{% trans 'Set Password' %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}