{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- carousel -->
<div class="col-md-8 mx-auto">
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/image-carousel-1b.webp' %}" class="d-block w-100 rounded"
                        alt="A restaurant setting photograph">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/image-carousel-2b.webp' %}" class="d-block w-100 rounded"
                        alt="A picture of a table setting">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/image-carousel-3b.webp' %}" class="d-block w-100 rounded"
                        alt="A photo of a table with wine glasses">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center mt-5">
        <h1>Welcome to The Diplomat Bar & Grill</h1>
        <p><em>We strive to ensure that your dining experience with us is unforgettable.</em></p>
    </div>
</div>
<!-- cards -->
<section class="container">
    <div class="row d-flex my-5 justify-content-center text-center">
        <div class="col-10 col-md-3 col-lg-2 m-3 grow card shadow">
            <a href="{% url 'reservations' %}" class="text-decoration-none">
                <img src="{% static 'images/image-book-b.webp' %}" class="card-img-top rounded img-fluid"
                    alt="A photo of a table setting">
            </a>
            <div class="row mt-3 mb-3">
                <a href="{% url 'reservations' %}">
                    <h2>Book a Table</h2>
                </a>
            </div>
        </div>

        <div class="col-10 col-md-3 col-lg-2 m-3 grow card shadow">
            <a href="{% url 'food_menu' %}" class="text-decoration-none">
                <img src="{% static 'images/image-food-menu2b.webp' %}" class="card-img-top rounded img-fluid"
                    alt="A photo of a person eating a meal">
            </a>
            <div class="row mt-3 mb-3">
                <a href="{% url 'food_menu' %}">
                    <h2>Food Menu</h2>
                </a>
            </div>
        </div>

        <div class="col-10 col-md-3 col-lg-2 m-3 grow card shadow">
            <a href="{% url 'drink_menu' %}" class="text-decoration-none">
                <img src="{% static 'images/image-drinks-menu2b.webp' %}" class="card-img-top rounded img-fluid"
                    alt="A photo of a glass of whiskey">
            </a>
            <div class="row mt-3 mb-3">
                <a href="{% url 'drink_menu' %}">
                    <h2>Drinks Menu</h2>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row text-center">
        <p><em>Allow us to look after you, your friends and family.</em></p>
    </div>
</div>
<section class="container-fluid">
    <div class="row d-flex my-5 justify-content-center">
        <!-- Events catered for -->
        <div class="col-10 col-md-4 card shadow p-3 mt-5 rounded">
            <h3>We cater for the following events</h3>
            <ul>
                <li>Private Parties</li>
                <li>Terrace Parties</li>
                <li>Corportate Events</li>
                <li>Work Parties</li>
                <li>Date Nights</li>
                <li>Cocktail Parties</li>
            </ul>
            <p><em>Please contact us to arrange an event!</em></p>
            <div class="col-12 mt-5">
                <img src="{% static 'images/image-events-catered-b.webp' %}" class="img-fluid rounded shadow"
                    alt="A photo of man holding a Mojito">
            </div>
        </div>
    </div>
</section>

{%endblock%}