@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

a {
    color: #ffff;
    text-decoration: none;
}

a:hover {
    color: #ced4da;
}

body {
    background-color: #212529;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
}

.active {
    color: red;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    /* color: #000000; */
}

.card {
    background-color: #6c757d;
    padding: 20px;
}

.bg-darker {
    background-color: rgb(0,0,0,0.2);
}