{% extends "base.html" %}

{% block content %}

<section>
    <div class="container">

        <div class="row justify-content-center mt-3">
            <div class="col-md-5">
                <h2>Are you sure?:</h2>
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">{{ booking.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ booking.requested_date }} at
                            {{ booking.requested_time }}</h6><br>
                        <h6 class="card-subtitle mb-2">Booking status: {{ booking.status }}.</h6>
                        <p class="card-text">No. of Guests: {{ booking.guest_count }}.</p>
                        <p class="card-text">Table: {{booking.table}}</p>
                        <form method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">YES</button>
                            <a href="{% url 'booking_list' %}" class="btn btn-secondary">Return</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}