{% extends "base.html" %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-5 mb-5 p-5 bg-darker rounded">
                <div class="card-body">
                    <div class="row">
                        
                        <h2>Booking Successful</h2><br>
                        <hr>
                        <p>We look forward to seeing you!</p><br>
                        <h5>Visit food menu, <a href="{% url 'food_menu' %}" class="booking-success-button">click</a></h5>
                        <h5>Visit drinks menu, <a href="{% url 'drink_menu' %}" class="booking-success-button">click</a></h5><br>
                        <h5>Return home, <a href="{% url 'home' %}" class="booking-success-button">click</a></h5>
                         
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}