{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 p-5 bg-darker rounded booking-card">
                        <h1>Edit Booking</h1>
                        <form action="{% url 'edit_booking' booking.pk %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                {{ form|crispy }}
                            </div>
                            <div>
                                <button class="btn btn-success" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}