{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-3 offset-md-2">
            <form method="post">

                {% csrf_token %}

                <!-- guest form & booking form -->
                {{ guest_form| crispy }}
                {{ booking_form| crispy }}

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}