{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mt-5">
    <!-- cards -->
    <section class="container">
        <div class="row d-flex my-5 justify-content-center text-center">

            {% for post in postings %}
            {% if post.status %}

            <div class="col-md-4 m-5 grow bg-darker rounded">
                {% if 'placeholder' in post.featured_image.url %}

                <a href="{% url 'post_expand' post.slug %}"><img
                        src="/static/images/image-blog-default-b.webp"
                        class="card-img-top rounded img-fluid" alt="A Chef cooking"></a>

                {% else %}
                <a href="{% url 'post_expand' post.slug %}"><img src="{{ post.featured_image.url }}"
                        class="card-img-top rounded img-fluid" alt="Post featured image"></a>
                {% endif %}

                <div class="card-body">
                    <a href="{% url 'post_expand' post.slug %}" class="post-link">
                        <h5 class="card-title mt-3">{{ post.title }}</h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">By: {{ post.author }}</h6>
                    <a href="{% url 'post_expand' post.slug %}" class="post-link">
                        <p class="card-text mt-3"><em>{{ post.excerpt }}</em></p>
                    </a>
                    <hr>
                    <p class="card-text text-muted h6 mb-3">{{ post.created_date }}</p>
                </div>
            </div>
            
            {% endif %}
            {% endfor %}

        </div>
        <!-- pagination -->
        <div class="row d-flex my-5 justify-content-center text-center">

            {% if postings.has_previous %}

            <a href="?page=1">&laquo First</a>
            <a href="?page={{ postings.previous_page_number }}">Previous</a>
            
            {% endif %}
            Page {{ postings.number }} of {{postings.paginator.num_pages }}

            {% if postings.has_next %}

            <a href="?page={{ postings.next_page_number }}">Next</a>
            <a href="?page={{ postings.paginator.num_pages }}">Last &raquo</a>

            {% endif %}
        </div>
    </section>

</div>

{% endblock %}