{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Blog Post -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 mx-auto bg-darker mt-5 rounded p-3">
            {% if 'placeholder' in post.featured_image.url %}
                <a href="{% url 'post_expand' post.slug %}"><img
                        src="https://images.pexels.com/photos/2403392/pexels-photo-2403392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="card-img-top rounded" alt="A Chef cooking"></a>
                {% else %}
                <a href="{% url 'post_expand' post.slug %}"><img src="{{ post.featured_image.url }}" class="card-img-top rounded"
                        alt="Post featured image"></a>
                {% endif %}
            <h1>{{ post.title }}</h1>
            {{ post.content| safe }}
            {{ post.image.url }}
        </div>
    </div>
</div>

<!-- Comments -->
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for comment in comments %}
        <div class="col-md-8  col-lg-6 mx-auto bg-darker rounded p-3 mt-3 mb-3">
            <h6><em>{{ comment.name }}:</em></h6>
            {{ comment.body | linebreaks }}<hr>
            <em>{{comment.created_date }}</em>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Add comment -->
<div class="container-fluid">

    {% if commented %}
    <div class="alert alert-success col-md-3 mx-auto mt-3 mb-3 p-3" role="alert">
        <p>Comment is pending approval.</p>
    </div>
    {% else %}

    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 mx-auto mt-5 p-3 bg-darker rounded">
            <h4>Add a Comment</h4>
            <p>Post as: {{ user.username }}</p>
            <form method="POST">
                {{ comment_form| crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Comment</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}

</div>

{% endblock content %}