{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row d-flex my-5 justify-content-center">
        <div class="col-md-10 mx-auto card shadow p-3 mt-5 rounded">
            <h1 class="mt-5 mb-5 mx-auto">500 Server Error</h1>
            <h2 class="mx-auto p-3">Something went wrong</h2>
            <img src="https://res.cloudinary.com/arron-cloudinary/image/upload/v1664562417/static/images/image-404b.webp"
                alt="404 page image - broken plate" class="mx-auto p-3" style="max-width:80%;">
            <div class="row mx-auto">
                <div class="col-md-3">
                    <button class="btn btn-success"><a href="{% url 'home' %}" class="booking-success-button">Home</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}