{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h2 class="text-center">Drinks Menu</span></h2>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8">
            {% for drink in drink_list %}
            <h5>{{ drink.drink_name }}</h5>
            <p><em>€{{ drink.price }}</em></p>

            {% endfor %}
        </div>
    </div>
</div>


{%endblock%}