{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 mt-5 mb-5">
            <h1 class="text-center">Contact Us</h1><hr>
        </div>
    </div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 p-5 bg-darker rounded booking-card">
                        <!-- Display if user is not logged in -->
                        {% if not user.is_authenticated %}
                        <h2>Message Us</h2>
                        <p>Please login to slide into our DM's!</p>
                        <button class="btn btn-success" type="submit"><a href="{% url 'account_login' %}">Go to Login
                                Page</a></button>
                        {% else %}
                        <!-- Display form if user is logged in-->
                        {% if user.is_authenticated %}
                        <div class="row text-center">
                            <div class="col-12">
                                <h2 class="fw-bold mt-3">Send Message</h2>
                                <hr>
                            </div>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Contact form -->
                            {{ contact_form| crispy }}

                            <button class="btn btn-success" type="submit">Submit</button>
                        </form>
                        {% endif %}
                        {% endif %}
                        <!-- Form Errors from stack overflow -->
                        {% if contact_form.errors %}
                        {% for field in contact_form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in contact_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 mt-5 mb-5 p-5 bg-darker rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h3>The Diplomat Bar & Grill</h3>
                        <hr>
                        <p>2 Hanover Quay</p>
                        <p>Grand Canal Dock</p>
                        <p>Dulin 2</p>
                        <p>thediplomat@thediplomat.com</p>
                        <p>+353 (0)1 123456</p>
                        <hr>
                        <p><em>Opening Hours:</em></p>
                        <p><em>Mon - Thurs: 10:00 - 00:30</em></p>
                        <p><em>Fri - Sun: 10:00 - 02:00</em></p>
                    </div>
                    <div class="col-12 rounded">
                        <!-- Google map -->
                        <iframe class="w-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d595.483574577377!2d-6.238482670727987!3d53.344432299392466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670eed1b7edb89%3A0xda122b4946e3de07!2s2%20Hanover%20Quay%2C%20Grand%20Canal%20Dock%2C%20Dublin!5e0!3m2!1sen!2sie!4v1664637574838!5m2!1sen!2sie"
                            height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}